---
const {
  title = "Folded Paper Engine",
  description = "Folded Paper Engine – Blender-to-Godot addon that makes level and gameplay creation as easy as a few clicks!",
} = Astro.props;

const canonicalUrl = new URL(Astro.url.pathname, Astro.site);
const canonical = canonicalUrl.toString().replace(/\/$/, "");
---

<html lang="en">
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-QM9RJ9QDWL"></script>
    <script type="application/javascript">
      window.dataLayer = window.dataLayer || [];

      function gtag() {
        dataLayer.push(arguments);
      }

      gtag('js', new Date());
      gtag('config', 'G-QM9RJ9QDWL');

      document.addEventListener("DOMContentLoaded", () => {
        document.querySelectorAll(".pickle-box img").forEach((p, i) => {
          p.addEventListener("mouseenter", () => {
            gtag('event', 'pickle_hover', {
              pickle_index: i + 1
            });
          });
        });

        const blenderDownloadButton = document.querySelector(".blender-download");
        if (blenderDownloadButton) {
          blenderDownloadButton.addEventListener("click", () => {
            gtag('event', 'download_blender', {
              event_category: 'download',
              event_label: 'blender_plugin'
            });
          });
        }

        const godotDownloadButton = document.querySelector(".godot-download");
        if (godotDownloadButton) {
          godotDownloadButton.addEventListener("click", () => {
            gtag('event', 'download_godot', {
              event_category: 'download',
              event_label: 'godot_plugin'
            });
          });
        }
      });
    </script>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <meta name="description" content={description}/>
    <title>Folded Paper Engine | {title}</title>

    <link rel="canonical" href={canonical}>
    <link rel="sitemap" href="sitemap-index.xml"/>
    <link rel="icon" type="image/png" href="icons/favicon-96x96.png" sizes="96x96"/>
    <link rel="icon" type="image/svg+xml" href="icons/favicon.svg"/>
    <link rel="shortcut icon" href="icons/favicon.ico"/>
    <link rel="apple-touch-icon" sizes="180x180" href="icons/apple-touch-icon.png"/>
    <meta name="apple-mobile-web-app-title" content="Folded Paper Engine"/>
    <link rel="manifest" href="icons/site.webmanifest"/>

    <link rel="stylesheet" href="assets/css/index.css"/>

    <slot name="head"/>
</head>

<body>
<header class="header">
    <a href="/">
        <img class="logo" src="assets/images/logo.png" alt="Logo"/>
    </a>
    <div class="spacer"></div>
    <a class="button" href="/#download">
        Download
        <img class="dl-icon" src="assets/images/dl-icon.png" alt="Download"/>
    </a>
</header>

<main>
    <slot/>
</main>

<footer class="footer">
    <a href="https://papercraft.games" target="_blank">
        <img
                class="papercraft-logo"
                src="assets/images/papercraft-games-logo.png"
                alt="Papercraft Games"
        />
    </a>

    <div class="social">
        <a href="https://github.com/papercraftgames/folded-paper-engine" target="_blank">
            <img src="assets/images/github-logo.png" alt="GitHub"/>
        </a>
        <a href="https://www.youtube.com/@PapercraftGamesOfficial" target="_blank">
            <img src="assets/images/youtube-logo.png" alt="YouTube"/>
        </a>
        <a href="https://bsky.app/profile/papercraftgames.bsky.social" target="_blank">
            <img src="assets/images/bluesky-logo.png" alt="Bluesky"/>
        </a>
        <a href="https://www.facebook.com/profile.php?id=61584265860990" target="_blank">
            <img src="assets/images/facebook-logo.png" alt="Facebook"/>
        </a>
        <a href="https://discord.gg/gdGk2tBevz" target="_blank">
            <img src="assets/images/discord-logo.png" alt="Discord"/>
        </a>
    </div>
</footer>

<footer class="pickle-footer">
    <div>© {new Date().getFullYear()} Folded Paper Engine. All rights reserved.</div>
    <a
      class="button medium"
      href="https://github.com/sponsors/papercraftgames"
      target="_blank"
      rel="noopener noreferrer"
    >
        <img class="sponsor-icon" src="assets/images/top-hat.png" alt="Sponsor Top Hat" />
        Support FPE
    </a>
    <div class="pickle-box">
        <img src="assets/images/pickle-icon.png" alt="A green pickle"/>
        <img src="assets/images/pickle-icon.png" alt="A green pickle"/>
        <img src="assets/images/pickle-icon.png" alt="A green pickle"/>
        <img src="assets/images/pickle-icon.png" alt="A green pickle"/>
        <img src="assets/images/pickle-icon.png" alt="A green pickle"/>
    </div>
</footer>
</body>
</html>
